services:
  ip.8080.li:
    container_name: ip.8080.li
    image: ip.8080.li:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - PORT=3000
      - DEBUG=true
      - POWERED_BY="ip.8080.li"
networks:
  default:
      name: cloudflare
      external: true